.navbar{
    padding: 10px;
}
nav{
    position: fixed;
}
.jumbotron{
    text-align: center;
}
li{
    font-size: 20px;
}
.letter{
    font-family: forte;
}
.logo{
    color: white;
    font-size: 40px;
}
.nav-item:hover{
  border-bottom-style: solid;
  border-color: white;
  border-bottom-width: medium;
  transition: 1s;
}
